.brand {
    color: blueviolet;
    font-size: 32px;

    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.down-bar {
    background-color: rgba(0, 0 0, .2);
}